<iframe src="https://embed.spotify.com/?uri=spotify:user:t1310:playlist:5MVfrynGEanhTozPba4OcK" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
<!-- <img src="<%= @daily_image_url %>" alt="nasa picture"> -->

<img class="bg" src="<%=  @daily_image_url %>" alt="nasa image of space">

<div>
<%= strip_tags @quote %>
</div>
