// Place all the styles related to the Space controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  // filter brightness
  filter: brightness(65%);

}
.jumbotron {
  //  background: /* This is for ie8 and below */
   background: none;
   background-color: none;
}
.jumbotron-fluid {
  //  background: rgb(200, 54, 54); /* This is for ie8 and below */
  //  background: rgba(200, 54, 54, 0.5);
   background: none;
       background-color: none;
}
.container {
   background: rgb(200, 54, 54); /* This is for ie8 and below */
   background: rgba(200, 54, 54, 0.5);
}



.floating{
    float: left;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;

}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }
}

@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}
}


.scaling{
    float: left;
    -webkit-animation-name: scalex;
    -webkit-animation-duration:3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-name: scale;
    -moz-animation-duration:3s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
}

    @-webkit-keyframes scalex{
        from {-webkit-transform: scale(0.9);}
        65% {-webkit-transform: scale(1.0);}
        to {-webkit-transform: scale(0.9);}
    }

    @-moz-keyframes scale{
        from {-moz-transform: scale(0.9);}
        65% {-moz-transform: scale(1.0);}
        to {-moz-transform: scale(0.9);}
    }

    .login-forms {
        background-color: rgba(0,0,0,0.7);
        width: 42em;
        height: 16em;
        text-align: center;
        color: white;
        border-radius: 0.5em;

    }

.home-login input {
  background-color: #22A7F0;
  border: 0;
  border-radius: 0.25em;
  color: white;
  font-family: "Open Sans";
  padding-right: 0.75em;
  margin-left: 0.5em;
}

.form-group {
  color: black;
}

// .modal-dialog {
//   border-radius: 8px;
//   color: white;
//   background-color: rgba(0, 0, 0, 0.7);
// }

div.modal-content {
  border-radius: 8px;
  color: white;
  background-color: rgba(0,0,0,0.7);
}

input#email {
  border-radius: 8px;
  padding-left: 1rem;
}

input#password {
  border-radius: 8px;
  padding-left: 1rem;
}
